<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <navbar class="flex justify-between px-6 py-4 border-black border-b-[1px]">
      <h1 class="text-4xl">Shop</h1>
      <ul class="flex items-center">
        <li class="mx-4"><a href="/">Home</a></li>
        <li class="ml-4 mr-28"><a href="/products">Products</a></li>
        <li class="mr-4"><a href="/cart">Cart</a></li>
        <li class="mx-4"><a href="/account">My account</a></li>
      </ul>
    </navbar>
    <div class="main flex m-9">
      <div class="sidebar w-80 h-full"></div>
      <div class="products flex flex-wrap w-[1096px]">
        <% if(decoded.isadmin === true) { %>
        <a
          href="/addproduct"
          class="flex justify-center items-center mr-10 mb-10 w-[14.5rem] bg-gray-200"
        >
          <div class="text-6xl">+</div>
        </a>
        <% productsarray.map((product)=>{ %>
        <div class="mr-10 mb-10">
          <div class="h-60 p-4 flex items-center bg-[#fad1be]">
            <img src="/images/image 80.png" alt="" />
          </div>
          <div class="flex justify-between items-center px-4 py-2 bg-[#e59773]">
            <div>
              <h1 class="text-[#6e4a3a]">Clinge Bag</h1>
              <h2 class="text-[#6e4a3a]">Rs. 1200</h2>
            </div>
            <div class="flex flex-col">
              <a
                class="bg-white px-2 border-b border-black text-blue-700"
                href="/edit/<%= product._id %>"
              >
                Edit
              </a>
              <a
                class="bg-white px-2 text-red-700"
                href="/delete/<%= product._id %>"
              >
                Delete
              </a>
            </div>
          </div>
        </div>
        <%})%><% } else { %> <% productsarray.map((product)=>{ %>
        <div class="mr-10 mb-10">
          <div class="h-60 p-4 flex items-center bg-[#fad1be]">
            <img src="/images/image 80.png" alt="" />
          </div>
          <div class="flex justify-between items-center px-4 py-2 bg-[#e59773]">
            <div>
              <h1 class="text-[#6e4a3a]">Clinge Bag</h1>
              <h2 class="text-[#6e4a3a]">Rs. 1200</h2>
            </div>
            <a href="/cart/<%= product._id %>">
              <div class="bg-white px-2 text-2xl rounded-full">+</div>
            </a>
          </div>
        </div>
        <%})%> <% } %>
        <!-- <div class="mr-10 mb-10">
          <div class="h-60 p-4 flex items-center bg-[#fad1be]">
            <img src="/images/image 80.png" alt="" />
          </div>
          <div class="flex justify-between items-center px-4 py-2 bg-[#e59773]">
            <div>
              <h1 class="text-[#6e4a3a]">Clinge Bag</h1>
              <h2 class="text-[#6e4a3a]">Rs. 1200</h2>
            </div>
            <a href="">
              <div class="bg-white px-2 text-2xl rounded-full">+</div>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </body>
</html>
