<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <navbar class="flex justify-between px-6 py-4 border-black border-b-[1px]">
      <h1 class="text-4xl">Shop</h1>
      <ul class="flex items-center">
        <li class="mx-4"><a href="/">Home</a></li>
        <li class="ml-4 mr-28"><a href="/products">Products</a></li>
        <li class="mr-4"><a href="/cart">Cart</a></li>
        <li class="mx-4"><a href="/account">My account</a></li>
      </ul>
    </navbar>
  </body>
</html>
